PORT=8000
APP_URL=http://localhost
NODE_ENV=development
DATABASE_URL = your mongodb database url here

#========== Secret tokens =========
ACCESS_TOKEN_SECRET_KEY= your secret token
ACCESS_TOKEN_EXPIRE = 1d
REFRESH_TOKEN_SECRET_KEY = your secret token
REFRESH_TOKENS_EXPIRE = 30d

